:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article {
    position: absolute;
    background-color: rgba(16, 84, 193, 0.8);
    top: 300px;
    right: 5px;
    width: 500px;
    color: white;
    margin: 0;

}

.hero article img {
    float: right;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
}

h2 {
    text-align: center;
    background-color: var(--accent2-color);
    padding: 10px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 45px;
    margin: 0 5px;
}