* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

h2 {
    color: navy;
    text-align: center;
    margin-bottom: 25px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding-right: 1rem;
    font-size: 25px;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;

}

input {
    margin: 5px;
}

button {
    margin: 0 auto;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: 150px;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.contact-info,
.questions {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
}

.column1 {
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.column1 label {
    text-align: center;
}

.textarea label {
    text-align: center;
}

.questions .form-item {
    padding: 10px;
}